/** Header **/
* {
    box-sizing: content-box;
}
.container{
    margin: 0%;
}
#header-nav {
    background-color: gray;
    border-radius: 0;
    padding: 0px;
    border: 0px;
    height: fit-content;
}
.navbar-brand h1{
    vertical-align: middle;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;
    font-size: 3vw;
    height: fit-content;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: max-content;
    
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand{
    align-content: left;
    padding: 10px;
    height: 100%;
    width: 20%;
    float: left;
}
#nav-list {
    margin-top: 0px;
    padding: 0%;
    
  }
#nav-list a {
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
ul{
    width: 100%;
}
div #collapsable-nav{
    margin-top: 0px;
    padding: 0%;
}